@import "tailwindcss";
@import "uniwind";

@import "./theme-variant.css";
@import "./theme-directive.css";
@import "my-theme/my-theme.css";

@layer theme {
  :root {
    @variant light {
      --color-global: red;
    }

    @variant dark {
      --color-global: darkred;
    }
  }
}
