@theme {
  --color-mythemefixed: brown;
}

@layer theme {
  :root {
    @variant light {
      --color-mythemevariant: orange;
    }

    @variant dark {
      --color-mythemevariant: darkorange;
    }
  }
}
